TEST 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Student Mental Wellness Survey (Responses) - Form responses 1.csv')
data.columns = [f'X{i}' for i in range(1, len(data.columns) + 1)]
data = data.iloc[:, 1:]
print(data.head())

   X2           X3    X4                   X5                X6        X7  \
0  20  Bhubaneswar  Male  Bachelor's 3rd Year  Computer Science  Everyday
1  69       Liquid  Male  Bachelor's 3rd Year  Computer Science  Everyday

         X8           X9       X10       X11        X12       X13       X14  \
0     Often  Weight gain     Often  Everyday   Everyday  Everyday    Rarely
1  Everyday    No change  Everyday  Everyday  Sometimes  Everyday  Everyday

         X15      X16  X17  X18
0  No change  Nothing  Yes   No
1  No change     nope  Yes  Yes

These columns only take 2-5 values hence one hot encoding is done

In [3]:
columns_to_encode = ['X4','X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15']
data= pd.get_dummies(data, columns=columns_to_encode)
print(data.head())

   X2           X3                   X5                X6      X16  X17  X18  \
0  20  Bhubaneswar  Bachelor's 3rd Year  Computer Science  Nothing  Yes   No
1  69       Liquid  Bachelor's 3rd Year  Computer Science     nope  Yes  Yes

   X4_Male  X7_Everyday  X8_Everyday  ...  X9_Weight gain  X10_Everyday  \
0     True         True        False  ...            True         False
1     True         True         True  ...           False          True

   X10_Often  X11_Everyday  X12_Everyday  X12_Sometimes  X13_Everyday  \
0       True          True          True          False          True
1      False          True         False           True          True

   X14_Everyday  X14_Rarely  X15_No change
0         False        True           True
1          True       False           True

[2 rows x 22 columns]

These columns can take more than one value so only the top 100 are taken

In [4]:
top_categories = 10
columns_to_encode = ['X3', 'X5', 'X6']
encoded_columns = pd.DataFrame()
for column in columns_to_encode:
    top_categories_series = data[column].value_counts().nlargest(top_categories)
    top_categories_list = top_categories_series.index.tolist()
    
    encoded = pd.get_dummies(data[column].apply(lambda x: x if x in top_categories_list else 'Other'), prefix=column)
    encoded_columns = pd.concat([encoded_columns, encoded], axis=1)
data_encoded = pd.concat([data.drop(columns=columns_to_encode), encoded_columns], axis=1)
print(data_encoded.head())

   X2      X16  X17  X18  X4_Male  X7_Everyday  X8_Everyday  X8_Often  \
0  20  Nothing  Yes   No     True         True        False      True
1  69     nope  Yes  Yes     True         True         True     False

   X9_No change  X9_Weight gain  ...  X12_Everyday  X12_Sometimes  \
0         False            True  ...          True          False
1          True           False  ...         False           True

   X13_Everyday  X14_Everyday  X14_Rarely  X15_No change  X3_Bhubaneswar  \
0          True         False        True           True            True
1          True          True       False           True           False

   X3_Liquid  X5_Bachelor's 3rd Year  X6_Computer Science
0      False                    True                 True
1       True                    True                 True

[2 rows x 23 columns]

In [5]:

data_encoded.to_csv('encoded_data.csv', index=False)